$font-stack: 'Work Sans', sans-serif;
$font-headlines: 'Work Sans', sans-serif;
$font-body: 'Karla', sans-serif;
$primary-color: #333;
$medium-color: #b9b9b9;
$light-color: white;
$accent-color: #e8c640;
$accent2-color: #70c1b3;

body {
  margin: auto 0;
  font: 100% $font-stack;
  color: $primary-color;
  display: flex;
  flex-direction: column;
}

.body_flex_horz {
  display: flex;
}

.navbar {
  justify-content: center;
  align-items: center;
  color: $primary-color;
  height: 40px;
  border-bottom-width: 1px;
  border-bottom-color: $medium-color;
  border-bottom-style: solid;
  font-family: $font-headlines;

  .logo {
    font-size: 20px;
  }
}

.navbar_links {
  display: flex;
  width: 40%;
  justify-content: space-around;
  a {
    color: $primary-color;
    text-decoration: none;
    font-family: $font-body;
    font-size: 14px;
  }
  margin-left: 10%;
}

// .hero {
//   align-self: stretch;
//   height: 500px;
// }

%accent_header {
  font-family: $font-headlines;
  font-size: 80px;
  color: $accent-color;
}

.hello {
  @extend %accent_header;
}

.home_page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home_page_column {
  max-width: 75%;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1040px;
  min-height: 300px;
  margin-top: 60px;
  padding: 20px;
  line-height: 1.5em;
  font-size: 18px;
  font-family: $font-body;
  color: $primary-color;
}

i {
  color: $accent-color;
  font-size: 30px;
}

.stack {
  width: 30%;
  align-self: center;
  justify-content: space-around;
  margin-top: 20px;
}

.body_content {
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 20px;
  margin-top: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin: 20px;
  z-index: 10;
  background-color: white;
  padding: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #f7f9f4;
  box-shadow: 3px 3px 3px #a19f9d;

  div {
    margin-top: 10px;
  }

  .content_button {
    margin-top: 20px;
  }

  a {
    color: $light-color;
    text-decoration: none;
    align-self: center;
  }
}

.content_image {
  width: 100px;
  height: 100px;
}

.content_headline {
  font-size: 20px;
  font-family: $font-headlines;
  color: #526460;
}

.content_subhead {
  font-size: 24px;
  font-family: $font-headlines;
  color: $medium-color;
}

.content_body {
  color: $primary-color;
  font-size: 16px;
  font-family: $font-body;
  line-height: 1.5em;
}

.content_button {
  justify-content: center;
  background-color: $accent-color;
  font-family: $font-body;
  border-radius: 3px;
  width: 140px;
  height: 40px;
  align-self: center;
}

@media only screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    h2 {
      margin-left: 0;
    }
  }

  .navbar_links {
    width: 100%;
    margin-left: 0;
  }
  .content {
    max-width: 300px;
  }
}
