$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$light-color: white;

body {
  margin: auto 0;
  font: 100% $font-stack;
  color: $primary-color;
  display: flex;
  flex-direction: column;
}

.body_flex_horz {
  display: flex;
}

.navbar {
  align-items: center;
  background-color: #333;
  color: $light-color;

  h2 {
    margin-left: 5%;
  }
}

.navbar_links {
  display: flex;
  width: 40%;
  justify-content: space-around;
  a {
    color: $light-color;
    text-decoration: none;
  }
  margin-left: 10%;
}

.hero {
  background-color: #a3c4bc;
}

.hero_headline {
  color: $light-color;
  font-size: 60px;
}

.body_content {
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-bottom: 40px;

  div {
    margin-top: 10px;
  }

  a {
    color: $light-color;
    text-decoration: none;
    align-self: center;
  }
}

.content_headline {
  font-size: 40px;
}

.content_body {
  color: #7e7771;
  text-align: justify;
  line-height: 1.5em;
}

.content_button {
  justify-content: center;
  background-color: #7e7771;
  border-radius: 3px;
  width: 140px;
  height: 40px;
  align-self: center;
}

@media only screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    h2 {
      margin-left: 0;
    }
  }

  .navbar_links {
    width: 100%;
    margin-left: 0;
  }
  .content {
    max-width: 300px;
  }
}
